<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align: center;">
        <div>
            <h1>Thêm</h1>
        </div>
        <form action="./add" method="POST" enctype="multipart/form-data">
            <input type="text" name="txtmsp" placeholder="Masp"/><br>
            <input type="text" name="txtdg" placeholder="Dongia"/><br>
            <input type="file" name="txtanh" style="margin-left: 82px;"/><br>
            <input type="text" name="txtlsp" placeholder="Loaisp"/><br>
            <input type="text" name="txtmkh" placeholder="Makh"/><br>
            <input type="text" name="txtms" placeholder="Mausac"/><br>
            <input type="text" name="txttkh" placeholder="Tenkh"/><br>
            <input type="text" name="txttsp" placeholder="Tensp"/><br>
            <input type="submit" value="Thêm" style="background-color: chocolate; color: white;"/>
        </form>
    </div>
</body>

</html>